@model IEnumerable<Shared.ViewModels.AssetViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Assets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table table-hover text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.assetName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.assetType)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.assetName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.assetType)
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>