@model IEnumerable<Shared.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table table-hover text-nowrap" >
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.createdAt)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdAt)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
